[Unit]
Description=Ollama ROCm API
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=ollama
Image=docker.io/ollama/ollama:rocm
Network=ai-shared.network
PublishPort=11434:11434
Volume=ollama:/root/.ollama:Z
PodmanArgs=--device=/dev/kfd
PodmanArgs=--device=/dev/dri

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
